<div class="add-reply-section">
    <form id="addPostForm" action="/post/{{this.postID}}" method="POST">
        <textarea class="addPostField" name="postBody" form="addPostForm" placeholder="Add your reply..."></textarea>
        <input class="comment-btn" type="submit" value="comment" />
    </form>
</div>