<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="/css/top-panel-stylesheet.css" rel="stylesheet">
    {{#if profileCSS}}
        <link href="/css/profile-stylesheet.css" rel="stylesheet">
    {{/if}}
</head>
<body>
<!--    <header>-->
        <!-- Top panel search and logout -->
<!--
        <div class="top-panel">
            <a href="/profile/{{!profile.profileID}}">
                <img src="/media/kb-logo.png" id="kb-logo-img" width="40" height="40" >
            </a>
            <form id="search_form">          SEARCH BAR form action="/search" method="POST" 
-->
<!--
                <input id="search_bar" type="text" placeholder="Search">
            </form>

            <form id="logout_form">          LOGOUT BTN form action="/" method="GET" 
                <button id="logout-btn" type="submit">logout</button>
            </form>
        </div>
    </header>    
-->
    {{{ body }}}
</body>
</html>
