<div class="container">
    {{>top-panel-partial}}
    <div class="row">
        <!-- Left-side panel -->
        <div class="split-left">
            <ul class="convo-list">
                {{>conversation-partial}}
            </ul>    
        </div>
        <!-- Right-side panel -->
        <div class="split-right">
            <ul class="message-list">
                {{>message-partial}}
            </ul>
            <div class="write-message">
                <form> <!-- action="/message" method="POST" -->
                    <textarea rows="4" id="message-area" onClick="checkEmpty()" placeholder="Write a message..."></textarea><br>
                    <div class="button-section">
                        <button id="submit-btn" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>