<div id="sign-up">
    <img id="login-image" src="/media/kb-login.jpg">
    
    <form> 
        <div class="signup-section">
            <h1 id="intro-message">Join the worlds largest community for knowledge sharing</h1>
            <div id="name">
                <input name="firstname" id="firstname" type="text" placeholder="firstname">
                <input name="lastname" id="lastname" type="text" placeholder="lastname"></br>
            </div>
            <input name="email" id="email" type="email" placeholder="email"></br>
            <input name="password" id="password" type="password" placeholder="password"></br>
            <input name="firstname" id="confirmpassword" type="password" placeholder="confirm password"></br>
            <button id="signup-btn" type="submit">signup</button>
        </div>
    </form>
</div>
